bin\
.vs\
out\
sithere\
.cmake\
x64\
CMakeLists.txt
CMakePresets.json
CMakeCache.txt
general-note.md
*.ninja
*.cmake
*.bin
*.log
*.tmp
*.bak
*.swp
*.sln
*.vcxproj
*.filters
*.user
*.tlog
*.recipe
*.ilk
*.obj
*.idb
*.pdb
*.lastbuildstate
*.exe
*.lock
*.vsidx
*.suo
*.ipch
